<%- include('./partials/header.ejs') %>
<body class="edit">
    <h1>Edit Workout</h1>

    <nav class="edit1">
    <form action="/fitnezz/<%= fitnezz.id%>?_method=PUT" method="POST">
        Exercise 1: <input type="text" name="exercise1" value="<%=fitnezz.exercise1%>"/>
        Sets: <input type="text" name="sets1" value="<%=fitnezz.sets1%>"/>
        Reps: <input type="text" name="reps1" value="<%=fitnezz.reps1%>"/>
    <br>
        Exercise 2: <input type="text" name="exercise2" value="<%=fitnezz.exercise2%>"/>
        Sets: <input type="text" name="sets2" value="<%=fitnezz.sets2%>"/>
        Reps: <input type="text" name="reps2" value="<%=fitnezz.reps2%>"/>
    <br>
        Exercise 3: <input type="text" name="exercise3" value="<%=fitnezz.exercise3%>"/>
        Sets: <input type="text" name="sets3" value="<%=fitnezz.sets3%>"/>
        Reps: <input type="text" name="reps3" value="<%=fitnezz.reps3%>"/>
    <br>
        Exercise 4: <input type="text" name="exercise4" value="<%=fitnezz.exercise4%>"/>
        Sets: <input type="text" name="sets4" value="<%=fitnezz.sets4%>"/>
        Reps: <input type="text" name="reps4" value="<%=fitnezz.reps4%>"/>
    <br>
        Exercise 5: <input type="text" name="exercise5" value="<%=fitnezz.exercise5%>"/>
        Sets: <input type="text" name="sets5" value="<%=fitnezz.sets5%>"/>
        Reps: <input type="text" name="reps5" value="<%=fitnezz.reps5%>"/>
    <br>
        Exercise 6: <input type="text" name="exercise6" value="<%=fitnezz.exercise6%>"/>
        Sets: <input type="text" name="sets6" value="<%=fitnezz.sets6%>"/>
        Reps: <input type="text" name="reps6" value="<%=fitnezz.reps6%>"/>
    <br>
        Edit Image: <input type="text" name="image" value="<%=fitnezz.image%>"/>
    </nav>

    <br>
    <br>
        <input type="submit" name="" value="Submit Changes"/>
    </form>

    <p class="resources">Resources: 
        
        <button type="button"><a href="https://www.bodybuilding.com/content/10-best-chest-exercises-for-building-muscle.html#10-best-chest-exercises-for-building-muscle-dumbbell-bench-press">Chest Exercises</a></button>
        
        <button type="button"><a href="https://www.bodybuilding.com/content/10-best-muscle-building-back-exercises.html">Back Exercises</a></button>
        
        <button type="button"><a href="https://www.bodybuilding.com/content/10-best-muscle-building-shoulder-exercises.html">Shoulder Exercises</a></button>
        
        <button type="button"><a href="https://www.bodybuilding.com/content/10-best-muscle-building-leg-exercises.html">Leg Exercises</a></button>
        
        <button type="button"><a href="https://www.bodybuilding.com/content/10-best-muscle-building-biceps-exercises.html">Bicep Exercises</a></button>
         
        <button type="button"><a href="https://www.bodybuilding.com/content/the-10-best-muscle-building-triceps-exercises.html">Tricep Exercises</a></button>
        
        <button type="button"><a href="https://www.bodybuilding.com/content/10-best-muscle-building-ab-exercises.html">Ab Exercises</a></button>
        
        <button type="button"><a href="https://www.verywellfit.com/strength-training-sets-based-on-goals-1231231">How many sets and reps you should do</a></button>

    </p>
</body>
</html>